Potestas/.vs/
Potestas/Potestas.Tests/bin/
Potestas/Potestas.Tests/obj/
Potestas/Potestas/bin/
Potestas/Potestas/obj/
Potestas/Potestas.Apps.Terminal/bin/Debug/netcoreapp2.2/Potestas.Apps.Terminal.deps.json
Potestas/Potestas.Apps.Terminal/bin/
Potestas/Potestas.Apps.Terminal/obj/
Potestas/Potestas.XmlPlugin/bin/
Potestas/Potestas.XmlPlugin/obj/
Potestas/Potestas.SqlPlugin/bin/
Potestas/Potestas.SqlPlugin/obj/
Potestas/Potestas.OrmPlugin/bin/
Potestas/Potestas.OrmPlugin/obj/
Potestas/Potestas.SqlHelper/bin/
Potestas/Potestas.SqlHelper/obj/