<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="plugins" value="Potestas.dll;Potestas.XmlPlugin.dll;Potestas.SqlPlugin.dll;Potestas.OrmPlugin.dll;Potestas.NoSqlPlugin.dll;Potestas.WebPlugin.dll"/>
    <add key="storageFilePath" value="FlashObservations.bin"/>
    <add key="serializerType" value="Binary"/>
    <add key ="xmlFilePath" value="FlashObservations.xml"/>
    <add key="connectionString" value="Server=127.0.0.1,1423;Database=Potestas;User Id=SA;Password=DOCKERTASK_1"/>
    <add key="connectionStringEF" value="Server=127.0.0.1,1423;Database=PotestasEF;User Id=SA;Password=DOCKERTASK_1"/>
    <add key="connectionStringNoSql" value="mongodb://localhost:27018"/>
    <add key="noSqlDbName" value="Potestas"/>
    <add key="webApiBaseAddress" value="https://localhost:44303"/>
  </appSettings>
</configuration>